<div class="container-fluid px-2 px-md-4">
  <div class="card card-body mx-2 mx-md-2 mt-n6">
    <div class="row gx-4 mb-2">
      <div class="row">
        <div _ngcontent-ng-c2522075359="" class="col-12">
          <div _ngcontent-ng-c2522075359="" class="row slider-row dragging "  appHorizontalDragScrollDirective>
            <div _ngcontent-ng-c2522075359="" class="col-md-3 col-3">
              <div _ngcontent-ng-c2522075359="" class="card">
                <div _ngcontent-ng-c2522075359="" class="card-header mx-4 p-3 text-center">
                  <div _ngcontent-ng-c2522075359=""
                    class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg"><i
                      _ngcontent-ng-c2522075359="" class="material-symbols-rounded opacity-10">account_balance</i></div>
                </div>
                <div _ngcontent-ng-c2522075359="" class="card-body pt-0 p-3 text-center">
                  <h6 _ngcontent-ng-c2522075359="" class="text-center mb-0">Salary</h6><span
                    _ngcontent-ng-c2522075359="" class="text-xs">Belong Interactive</span>
                  <hr _ngcontent-ng-c2522075359="" class="horizontal dark my-3">
                  <h5 _ngcontent-ng-c2522075359="" class="mb-0">+$2000</h5>
                </div>
              </div>
            </div>
            <div _ngcontent-ng-c2522075359="" class="col-md-3 col-3">
              <div _ngcontent-ng-c2522075359="" class="card">
                <div _ngcontent-ng-c2522075359="" class="card-header mx-4 p-3 text-center">
                  <div _ngcontent-ng-c2522075359=""
                    class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg"><i
                      _ngcontent-ng-c2522075359=""
                      class="material-symbols-rounded opacity-10">account_balance_wallet</i></div>
                </div>
                <div _ngcontent-ng-c2522075359="" class="card-body pt-0 p-3 text-center">
                  <h6 _ngcontent-ng-c2522075359="" class="text-center mb-0">Paypal</h6><span
                    _ngcontent-ng-c2522075359="" class="text-xs">Freelance Payment</span>
                  <hr _ngcontent-ng-c2522075359="" class="horizontal dark my-3">
                  <h5 _ngcontent-ng-c2522075359="" class="mb-0">$455.00</h5>
                </div>
              </div>
            </div>
            <div _ngcontent-ng-c2522075359="" class="col-md-3 col-3">
              <div _ngcontent-ng-c2522075359="" class="card">
                <div _ngcontent-ng-c2522075359="" class="card-header mx-4 p-3 text-center">
                  <div _ngcontent-ng-c2522075359=""
                    class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg"><i
                      _ngcontent-ng-c2522075359=""
                      class="material-symbols-rounded opacity-10">account_balance_wallet</i></div>
                </div>
                <div _ngcontent-ng-c2522075359="" class="card-body pt-0 p-3 text-center">
                  <h6 _ngcontent-ng-c2522075359="" class="text-center mb-0">Paypal</h6><span
                    _ngcontent-ng-c2522075359="" class="text-xs">Freelance Payment</span>
                  <hr _ngcontent-ng-c2522075359="" class="horizontal dark my-3">
                  <h5 _ngcontent-ng-c2522075359="" class="mb-0">$455.00</h5>
                </div>
              </div>
            </div>
            <div _ngcontent-ng-c2522075359="" class="col-md-3 col-3">
              <div _ngcontent-ng-c2522075359="" class="card">
                <div _ngcontent-ng-c2522075359="" class="card-header mx-4 p-3 text-center">
                  <div _ngcontent-ng-c2522075359=""
                    class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg"><i
                      _ngcontent-ng-c2522075359=""
                      class="material-symbols-rounded opacity-10">account_balance_wallet</i></div>
                </div>
                <div _ngcontent-ng-c2522075359="" class="card-body pt-0 p-3 text-center">
                  <h6 _ngcontent-ng-c2522075359="" class="text-center mb-0">Paypal</h6><span
                    _ngcontent-ng-c2522075359="" class="text-xs">Freelance Payment</span>
                  <hr _ngcontent-ng-c2522075359="" class="horizontal dark my-3">
                  <h5 _ngcontent-ng-c2522075359="" class="mb-0">$455.00</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">Corpo da requisição</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="date" class="form-label">Data</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description" class="form-label">Descrição</label>
                    <textarea class="form-control" id="description" name="description" rows="10" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="attachment" class="form-label">Anexo</label>
                    <input type="file" class="form-control" id="attachment" name="attachment" accept=".pdf,.doc,.docx">
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>