.container-fluid {
    margin-top: 4rem !important;
}


.slider-row {
  display: flex;
  flex-wrap: nowrap;           /* tudo em uma linha só */
  gap: 1rem;                   /* espaço entre os cards */
  overflow-x: auto;            /* scroll horizontal */
  overflow-y: hidden;
  scroll-behavior: smooth;     /* deslize suave */
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  padding-bottom: 10px;
}

/* Esconde a scrollbar (Chrome, Edge, Safari) */
.slider-row::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar (Firefox) */
.slider-row {
  scrollbar-width: none;
}

/* Cada item do slide */
.slider-row > div {
  flex: 0 0 auto;              /* impede quebra de linha */
  min-width: 260px;            /* largura do card (ajuste se quiser) */
}


.slider-row {
  cursor: grab;
  user-select: none;
}

.slider-row.dragging {
  cursor: grabbing;
}



/* Reforçando estilos perdidos */
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #404040;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #d2d6da;
    border-radius: 0.375rem;
    transition: 0.2s ease;
}


input [type="date"]::-webkit-datetime-edit {
  color: transparent;
}


.card .is-selected {
  border: 2px solid #007bff;
  border-color: transparent !important;
  box-shadow: inset 1px 0 #e91e63,
    inset -1px 0 #e91e63,
    inset 0 -1px #e91e63;
}
